.header1 {
    font-size: 40px;
    color: rgb(94, 25, 185);
    text-align: center;
}

.header2 {
    font-size: 30px;
    color: rgb(94, 25, 185);
    text-align: center;
}

.header3 {
    font-size: 20px;
    color: rgb(94, 25, 185);
    text-align: center;
}